<!-- begin clients.vtl -->
<div class="row">
<ul>
  #foreach ($client in $clients)
  <li>$client.getClientName() - $client.getClientAppointmentDate() @ $client.getClientAppointmentTime()</li>
  #end
</ul>
</div>

<!-- end clients.vtl -->
