<!--index.vtl-->
<h1 class="jumbotron">Welcome to The Hair Salon!</h1>

<h2>Appointments available: daily from 11-8pm, every 15 minutes</h2>
<h2>Don't forget to wash your hands!</h2>
<!--index.vtl-->
